.img-square {
  object-fit: cover;
  width:150px;
  height:150px;
  padding:2px;
}

.blockquote-box {
	background-color: rgba(250,250,250,1);
	margin-bottom: 15px;
	margin-right: -15px;
	padding-right: 10px;
	border: 1px solid #e7e7e7;
    overflow: hidden;	
}

.blockquote-box .square {
	width: 150px;
	height: 150px;
	min-height: 150px;
	margin-right: 22px;
	background-color: #00acc1;
}